[submodule "paging_2"]
	path = paging_2
	url = https://github.com/Hemal-Mamtora/paging_2.git
[submodule "disk_scheduling"]
	path = disk_scheduling
	url = https://github.com/Hemal-Mamtora/disk_scheduling
[submodule "stat"]
	path = stat
	url = https://github.com/Hemal-Mamtora/stat
[submodule "page_replacement"]
	path = page_replacement
	url = https://github.com/Hemal-Mamtora/page_replacement.git
[submodule "producer_consumer"]
	path = producer_consumer
	url = https://github.com/Hemal-Mamtora/producer_consumer.git
